@media(max-width: 1350px) 
{
    .burger { 
        display: block; 
        position: fixed;
        top: 10px; 
        right: 50px;   
    }
    .main-menu {
        position: absolute;
        left: 0;
        top: 0;
        background-color: darkslategrey;
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        transition: transform .4s;
        background-color: black;
    }
    .menu-item {
        font-size: 21px;
        display: block;
        padding: 10px 25px;
    }
    .header.open .main-menu {
        transform: translateX(100%);
    }
}
@media (max-width: 1550px)  {
    .button-bg {
        height: 60px;
        display: flex;
        justify-content: space-between;
    }
    .container {
        display: flex;
        width: 830px;
        overflow-x: scroll; 
    }
    .container::-webkit-scrollbar {
        display: none;
    }
    .center {
        display: flex;
        justify-content: center;
        width: 830px;
    }
}
@media (max-width: 1200px) {
    .container {
        display: flex;
        overflow-x: auto; 
        margin-top: 50px; 
        width: 410px;
        scroll-behavior: smooth; 
    }
    .center {
        width: 410px;
    }
}
@media(max-width: 1024px) {
    .wrapper {
        padding: 0 6%;
    }
    .diamond-wrapper {
        overflow: hidden;
        position: absolute;
        width: 100vw;
        height: 620px;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .diamond-photo {
        border-radius: 0; 
        top: 0; 
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vw;
        transform: rotate(0deg);
        background-size: cover; 
        top: -15%;
    }
    .photo-content {
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center; 
        transform: scale(1.2); 
        right: -20%;
        clip-path: none;
        filter: blur(1px);

    }

    .logo { transform: scale(0.7) translateY(-25%)}
    .logo img { transform: scale(0.9); }
    .bg-title { 
        height: 100%; /* Делаем высоту автоматической, чтобы контент подходил */
        width: 90%; 
        background-color: transparent; 
        box-shadow: none; 
        margin-top: 0%;
        padding: 0 6%;
        overflow: hidden;
    }
    h1 {color: white;}
    .primary-text {
        color: white;
        line-height: 1.2; 
    }
    .line-bg {
        width: 81vw;
    }
    .line-bg2{
        width: 80vw;
    }
    .line {
        width: 100%;
        transform: scale(-1.4);
        background-image: url('../img/mobileVector.svg');
        top: -100%;
        left: 5%;
    }
    .line2 {
        width: 100%;
        bottom: 100%;
    }
    .description{
        height: 100vh;
        overflow:hidden
    }
    .element {
        margin-bottom: 30px;
    }
    .description-list {
        font-size: 13px;
        margin-top: 20%;
    }
    .primary-white-text {
        font-size: 15px;
    }
    .element::before {
        transform: scale(0.9);
    }

    #title-text {
        margin-top: 150px;
        color: black;
    }
    

}

@media(max-width: 700px){
    .bg-title { 
        width: 530px;
        min-width: 80%;
        min-height: 205px;
        background-color: transparent; 
        box-shadow: none; 
        margin-top: 0%;
        padding: 0 6%;

    }
    .primary-text {
        line-height: 1.2; 
    }
    h1 {
        color: white;
        font-size: 38px;
    }
    .element {
        margin-bottom: 50px; 
    }
    .diamond-photo {
        transform: scale(1.5); 
        top: 0;
    }
    .photo-content{
        filter: blur(1px);
    }
}
@media(max-width: 500px) {
    .wrapper {
        padding: 0 2%;
    }

    .line-bg{
        width: 79.5vw;
    }
    .line-bg2{
        width: 80vw;
    }
    .line2 {
        width: 100%;
        left: -7px;
    }
    .bg-title { 
        width: 400px;
        background-color: transparent; 
        box-shadow: none; 
        margin-top: 0%;
        padding: 0 6%;
    }
    .primary-text {
        line-height: 1.2; 
    }
    h1 {
        color: white;
        font-size: 32px;
    }
    .primary-text {
        color: white;
        font-size: 16px;
    }
    .line {
        width: 100vh;
        height: 100vh;
        transform: scale(-1.4);
        background-image: url('../img/mobileVector.svg');
        top: -100%;
        left: 5%;
    }

}
@media (hover: hover) {
    .link:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
    .social-media:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}