/*Арина*/

body {
    background-color: var(--bg-2);
}
:root {
    --bs-white: #FFFFFF;
    --bs-black: #000000;
    --bs-primory: #31C4D6;
    --bg: #1C818D;
    --bg-2: #F6F6F6;
    --font-title: 'Unbounded';
    --font-text: 'Arial'
}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    padding: 0 12%;
}
.link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--bs-white);
    cursor: pointer;
    position: relative;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}
.main-menu{
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    list-style-type: none;
    padding-top: 40px;
    padding-bottom: 40px;  
    font-family: var(--font-text);
    color: #FFFFFF;
    z-index: 4; 
}
.social-media {
    display: flex;
    column-gap: 5px;
    top: -10%;
    cursor: pointer;
    position: relative;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}
/* burger menu */
.burger {
    display: none;
    position: relative;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    z-index: 50;
    margin-top: 30px;
}
.burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #0D444A;
    left: 5px;
    transition: transform .4s, opacity .4s, background-color .4s;
}
.burger span:nth-child(1) {
    transform: translateY(-10px);
}
.burger span:nth-child(3) {
    transform: translateY(10px);
}
/* burger menu animation */

.header.open .burger span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .burger span:nth-child(2){
    opacity: 0;
}
.header.open .burger span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}
.header.open .burger span{
    background-color: var(--bs-white);
}
/* Start header style */

.nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 188px; 
    height: 205px; 
    background-color: #044B53; 
    border-radius:  0 0 25px 25px;
    clip-path: path("M54.8334 -26.25C48.6008 -26.25 42.6235 -22.9708 38.2164 -17.1337C33.8093 -11.2966 31.3334 -3.37987 31.3334 4.875V161.932C31.3327 164.658 31.8727 167.336 32.8993 169.699C33.9259 172.062 35.4032 174.026 37.1832 175.395C38.9632 176.764 40.9834 177.49 43.0417 177.499C45.1 177.509 47.1241 176.803 48.9114 175.45L90.1147 144.263C91.298 143.368 92.6373 142.897 94 142.897C95.3628 142.897 96.702 143.368 97.8854 144.263L139.089 175.45C140.876 176.803 142.9 177.509 144.958 177.499C147.017 177.49 149.037 176.764 150.817 175.395C152.597 174.026 154.074 172.062 155.101 169.699C156.127 167.336 156.667 164.658 156.667 161.932V4.875C156.667 -3.37987 154.191 -11.2966 149.784 -17.1337C145.377 -22.9708 139.399 -26.25 133.167 -26.25H54.8334Z"); 
    z-index: 2;
    text-align: center;
}
.logo img {
    margin-top: 10px; 
}
/* первый фрейм фон */
.first-frame {
    height: 400px;
}
.diamond-wrapper {
    overflow: hidden;
    position: absolute;
    width: 70vw;
    height: 70vw;
    right: 0;
    top: 0;
    z-index: 2;
}
.diamond-photo {
    width: 70vw;
    height: 70vw;
    border-radius: 11.75vw;
    top: -23vw;
    right: -12vw;
    transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    background-color: transparent;
}
.photo-content{
    width: 100%;
    height: 100%;
    background-image: url("../img/photo.png");
    background-size: cover;
    background-position: center;
    transform: scale(1.3) rotate(45deg);
    filter: blur(2px);
}
/* заголовок */
.bg-title {
    margin-top: 15%;
    padding: 0 12%;
    box-sizing: border-box;
    min-width: 620px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 20px;
    gap: 10px;
    width: 618px;

    background: var(--bs-white);
    /* Drop Shadow/600 */
    box-shadow: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
    border-radius: 30px 30px 30px 0px;
    position: relative;
    z-index: 3;
}

h1 {
    padding: 0%;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    color: var(--bs-black);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 0;
    position: relative;
}

.primary-text {
    display: block; 
    margin-top: 0px;
    font-family: var(--font-text);
    font-style: normal;
    font-size: 20px;
    line-height: 10%;
    padding: 0%;
}

/* второй фрейм с описанием */
.line-bg {
    max-width: 100vw;
    height: 0px;
    display: flex;
    align-items: center;  
    justify-content: center; 
    box-sizing: border-box;
}
.line {
    position: absolute; /* или fixed, если хотите, чтобы линия оставалась на месте при прокрутке */
    top: 0; /* Устанавливаем на верх страницы */
    left: 0; /* Устанавливаем на левый край */
    width: 100%;
    height: 900px;
    background-image: url('../img/lineVector.svg');
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.4);
    z-index: 1;
    position: relative;
    top: -500px;
    left: -250px;
}
.description{
    height: 100vh;
    background: linear-gradient(to right, #000000, #0FC7DD);
    z-index: -2;
    display: flex;
    align-items: center;  
    overflow:hidden  
}
.description-list {
    min-height: 550px;
    color: var(--bs-white);
    font-family: var(--font-title);
    margin-top: 2%;
}
.no-marker { list-style-type: none;}
.element { display: flex;}
.element::before {
    content: '';
    min-width: 64px; 
    height: 64px; 
    background-repeat: no-repeat;
    margin-right: 15px;
}
#teacher::before { background-image: url('../img/teacherIcon.svg');}
#book::before { background-image: url('../img/bookIcon.svg');}
#timer::before { background-image: url('../img/timeIcon.svg');}
#certificate::before { background-image: url('../img/certificateIcon.svg');}
#computer::before { background-image: url('../img/computerIcon.png');}
.element { margin-bottom: 50px;}
.h2 {
    font-weight: bold;
    line-height: 110%;
}
.primary-white-text {
    font-family: var(--font-text);
    font-size: 20px;
}
/* третий фрейм направления */
.line-bg2{
    max-width: 100vw;
    height: 0px;
    display: flex;
    align-items: center;  
    justify-content: center; 
}
.line2 {
    width: 100%;
    height: 900px;
    background-image: url('../img/lineVector2.svg');
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.4);
    z-index: 0;
    position: relative;
    top: -190px;
    left: -61px;
}
.types {
    height: 900px;

}
#title-text {
    margin-top: 25px;
}
.container{
    display: flex; /* Используйте flex для горизонтального расположения type-box */
    justify-content: space-between;
    gap: 20px; /* Промежуток между блоками */
    margin-top: 150px; /* Отступ сверху */
    height: 660px;
    box-sizing: border-box;
}
.type-box {
    width: 400px;
    height: 600px;
    border-radius: 30px;
    border: 2px solid #9B9B9B;
    background-color: var(--bs-white);
    display: flex;
    flex-direction: column; /* Расположить элементы внутри в столбик */
    align-items: center; /* Центрирование по горизонтали */
}
.img {
    width: 340px;
    height: 250px;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.text {
    width: 340px;
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 30px;
}
.img-and-text {
    width: 400px;
    height: 535px;
    display: flex;
    flex-direction: column; /* Изменяет направление флекса на столбик */
    align-items: center; /* Выравнивание по горизонтали */
    margin-top: 30px;
}
.button {
    width: 107px;
    height: 22px;
    padding: 20px;
    background: #31C4D6;
    border-radius: 30px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    position: relative; 
    transform: translateY(50%);
    border: 2px solid transparent;
    cursor: pointer;  
    transition: background-color 0.3s ease, border-color 0.3s ease;
} 
.button:hover {
    background-color: #ffffff; /* Цвет фона при наведении */
    background-color: white;    /* Цвет фона при нажатии */
    border: 2px solid #31C4D6;  /* Голубой контур при нажатии */
    color: #31C4D6;             /* Цвет текста */
}
/*Арина*/

/* Команда, Марьяна */

/* Контейнер */

.end {
    height: auto;
    padding: 0 12%;
}

.containerM {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 70px;
}

.team {
    display: inline-block;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
}

.card {
    background-color: var(--bg-2);
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border: 2px solid #9B9B9B;
    width: 330px;
    height: 350px;
    padding: 15px;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.pod {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    border-radius: 20px;
    margin: 30px auto;
    width: 270px;
    height: 200px;
}

.avatar {
    display: block;
    overflow: hidden;
    transform: translateY(-20%) scale(1.2);
}

.info {
    text-align: center;
    margin-top: 20px;
}

h3.name {
    font-family: var(--font-text);
    font-size: 24px;
    margin-bottom: 10px;
}

p.role {
    font-family: var(--font-text);
    color: #666;
    font-size: 20px;
}

.line3 {
    width: 2000px;
    height: 1000px;
    background-image: url('../img/lineVector3.svg');
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.3);
    z-index: -1;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px -100px;
}

@media (max-width: 1080px) {

    .end{
        margin-top: 250px;
    }

    .containerM {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .row {
        margin-top: 10px; /* Увеличенный отступ сверху */
        max-width: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        justify-content: left;
        scroll-behavior: smooth; /* Плавная прокрутка */
        scroll-snap-type: x mandatory; /* Срабатывание "приклеивания" к карточке при прокрутке */
        padding: 60px 5px 10px 5px;
/*  сверху отступ*/
/*  справа отступ*/
/*  снизу отступ*/
/*  слева отступ*/
    }

    .row {
        margin-top: 10px; /* Увеличенный отступ сверху */
        max-width: 800px; /* Уменьшаем максимальную ширину контейнера для двух карточек */
        overflow-y: hidden; /* Добавляем горизонтальный скролл для одной карточки */
        flex-wrap: nowrap;
        justify-content: left;
        scroll-behavior: smooth; /* Плавная прокрутка */
        scroll-snap-type: x mandatory; /* Срабатывание "приклеивания" к карточке при прокрутке */
        padding: 60px 5px 10px 5px;
    }

    .card:hover {
        transform: none; /* Отключаем увеличение */
    }

    }
    
    @media (max-width: 767px) { /* Для экранов меньше 768px */

    .end{
        margin-top: 250px;
    }

    .row {
        margin-top: 10px; /* Увеличенный отступ сверху */
        max-width: 400px; /* Одна карточка в строке */
        overflow-y: hidden; /* Добавляем горизонтальный скролл для одной карточки */
        flex-wrap: nowrap;
        justify-content: left;
        scroll-behavior: smooth; /* Плавная прокрутка */
        scroll-snap-type: x mandatory; /* Срабатывание "приклеивания" к карточке при прокрутке */
        padding: 60px 5px 10px 5px;
    }

    .card:hover {
        transform: none; /* Отключаем увеличение */
    }
}
/* Команда, Марьяна*/

/* End header style, Марьяна */

.end2 {
    height: auto;
    padding: 0 12%;
}

.containerMa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 80px;
    padding: 40px;
    justify-content: center;
    margin: auto;
}

.contact-info {
    background-color: var(--bg-2);
    padding: 24px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 290px; /* Высота блока */
    margin: auto; /* Центрируем карточку */
}

.info-list {
    list-style-type: none;
}

.info-item {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 24px;
}

.fas.fa-phone-alt,
.fas.fa-map-marker-alt,
.fas.fa-envelope {
    font-weight: bold;
    display: inline-block;
    margin-right: 8px;
    font-size: 24px;
    color: #666;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Соотношение сторон 16:9 */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    color: #666;
    font-size: 24px;
    font-family: var(--font-text);
    font-weight: bold;
}

/* Медиа-запросы для адаптации к разным размерам экранов */
@media (min-width: 1280px) {
    .contact-info {
        width: auto;
        height: 290px; /* Высота блока */
        margin: auto; /* Центрируем карточку */
    }
}

@media (max-width: 767px) {
    .contact-info {
        width: auto; /* Ширина автоматически под контент */
        height: auto; /* Высота автоматически под контент */
        margin: auto; /* Центрируем карточку */
    }
}

@media (max-width: 1080px) { /* Измените значение на нужное для мобильной версии */
    .contact-info {
        display: none; /* Скрываем карточку с информацией на мобильных устройствах */
    }

    .map-container {
        justify-content: center;
        border-radius: 30px;
        transform: scale(1.2);
        margin-top: 15px;
    }
}
